body{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    background-color: rgb(255, 255, 255);
    background-image: url(../img/sobre-background-jpg);
    color: white;

    text-align: center;
  
}
h2{
    border-bottom: 1px groove black;
    text-align: center;

}
h3{
    border-bottom: 4px groove black


}


figure{
    background-color: rgb(255, 255, 255);
    
   
    
    text-align: justify;
    padding: 10px;
    margin: 10px;
   
  
   }

 figcaption{
    font-style: italic;
    margin-bottom: 10px;
}
 
 p{  
    padding:0 45px;
    text-indent: 15px;

 }
 
 #centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
 }

 #rodape{
    color:#777;
    margin:30px 0;
    padding: 30px 0;
 }

 #rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;

 }
 #familia-pelho{
    float:right;
    margin: 0 0 10px 10px;
 }








