*{
    margin: 0;
    padding: 0;
}

.col-25{
    float: left ;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left ;
    width: 75%;
    margin-top: 20px;
}

.row::after{
   content: "";
   display: table;
   clear: both;
}

.container{
    background-color: #a8ced2;
    padding: 20px;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    border-radius: 28px;
    padding-bottom: 20px;
}

