* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    min-height: 100vh;  

  }
  
  input {
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
  
    background-color: #cccccc;
    border-radius: 30px;
  
    padding: 10px;    
  }
  
  input[type=button] {
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    height: 80px;
    width: 80px;   
  }

  input[type=button]:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  
  input[type=tel] {
    background-color: #cccccc;
    border-radius: 10px;
    font-family: monospace;
    font-size: 22px;
    height: 40px;
    margin-bottom: 24px;
    padding: 10px;
    text-align: center;
    width: 280px;
  }
  