*{
    box-sizing: border-box;
 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(190, 45, 65, 0.8), rgba(211, 40, 145, 0.5));
    min-height: 100vh;
 }

 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: beige;
 }

 input{
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color: #ccc;
    border-radius: 30px;
    padding: 10px;
}

input[type=tel]{
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: monospace;
    font-size: 22px;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    width:280px;
}

input[type=button]{
    border-radius: 15px;
    height: 80px;
    width: 80px;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

input[type=button]:hover{
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}